<html>

  <head>
    <title>
      Dashboard page
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

  </head>

  <body>

    <div class='page page--dashboard'>
      <aside class='page_aside aside vertical vertical_big'>
        <div class='aside_logo text'>Sidebar</div>

        <nav class='vertical vertical_small'>
          <a
            href='#'
            class='nav_button nav_button_active click'
          >
            <span
              class='icon nav_button_icon'
              style='background-image: url(/svg/nav/home.svg);'
            ></span>
            <span
              class='text text_button text_line'
            >Home</span>
          </a>

          <div><a href='#' class='nav_button click'>
              <span
                class='icon nav_button_icon'
                style='background-image: url(/svg/nav/orders.svg);'
              ></span>
              <span
                class='text text_button text_line'
              >Orders</span>
            </a></div>

          <div><a href='#' class='nav_button click'>
              <span
                class='icon nav_button_icon'
                style='background-image: url(/svg/nav/products.svg);'
              ></span>
              <span
                class='text text_button text_line'
              >Products</span>
            </a></div>

        </nav>
      </aside>
      <header class='header'>
        <div class='layout header_content text_small'>

          <div class='header_search'>
            <input
              type='text'
              placeholder='Search'
              class='field field_header text'
            />
            <span
              class='icon header_icon_search'
              style='background-image: url(/svg/header/search.svg);'
            ></span>
            <span
              class='icon icon_header_settings icon_button icon_color_blue click'
              style='background-image: url(/svg/header/setting.svg);'
            ></span>
          </div>

          <div class='icon_list'>

            <span
              class='icon icon_nav icon_button icon_color_yellow_light click'
              style='background-image: url(/svg/list/antena.svg);'
            ></span>

            <span
              class='icon icon_nav icon_button icon_color_blue_light click'
              style='background-image: url(/svg/list/simbols.svg);'
            ></span>

            <span
              class='icon icon_nav icon_button icon_color_yellow_light click'
              style='background-image: url(/svg/list/tabler.svg);'
            ></span>

          </div>

        </div>

      </header>

      <main class='main'>

        <div class='layout'>

          <section class='box analytic_block'>

            <div
              class='analytic analytic_double analytic_blue card_1 card_hov'
            >

              <span
                class='icon analytic_button icon_button icon_color_viol_hard click'
                style='background-image: url(/svg/analytic/earning.svg);'
              ></span>

              <div
                class='analytic_content vertical vertical_small'
              >

                <div
                  class='analytic_title text text_light'
                >$500.00

                  <span
                    class='icon analytic_button analytic_arow icon_button icon_color_viol_light click'
                    style='background-image: url(/svg/analytic/violarow.svg);'
                  ></span>
                  <div
                    class='text text_small text_lighter'
                  >Total earning</div>
                </div>

              </div>

            </div>

            <div class='analytic analytic_double'>

              <div
                class='analytic analytic_double analytic_viol card_2 card_hov'
              >

                <span
                  class='icon analytic_button icon_button icon_color_blue click'
                  style='background-image: url(/svg/analytic/order.svg);'
                ></span>

                <div
                  class='analytic_content vertical vertical_small'
                >

                  <div
                    class='analytic_title text text_light'
                  >$961

                    <div
                      class='text text_small text_lighter'
                    >Total Order</div>
                  </div>

                </div>

              </div>

            </div>
            <div class='analytic'>
              <div
                class='analytic analytic_double analytic_viool card_3 card_hov_2'
              >

                <span
                  class='icon analytic_button icon_button icon_color_blue icon_an click'
                  style='background-image: url(/svg/analytic/income.svg);'
                ></span>

                <div
                  class='analytic_content vertical vertical_small'
                >

                  <div
                    class='analytic_title text text_light analytic_right_card text_left'
                  >$203k

                    <div
                      class='text text_small text_lighter text_left'
                    >Total Income</div>
                  </div>

                </div>

              </div>
            </div>
            <div class='analytic'>
              <div
                class='analytic analytic_double analytic_light card_4 card_hov_2'
              >

                <span
                  class='icon analytic_button icon_button icon_color_analytic_light icon_an click'
                  style='background-image: url(/svg/analytic/income2.svg);'
                ></span>

                <div
                  class='analytic_content vertical vertical_small'
                >

                  <div
                    class='analytic_title text text_light text_dark analytic_right_card'
                  >$203k

                    <div
                      class='text text_small text_lighter text_dark'
                    >Total Income</div>
                  </div>

                </div>

              </div>
            </div>

          </section>

        </div>

        <div class='info_money'>

          <div class='purchase'>
            <h1 class='purchase_list_title text'>Purchase
              list</h1>

            <div class='liner'></div>

            <div class='purchase_tables'>

              <table class='table_purchase'>
                <tr>
                  <th>ID437661</th>
                  <th>AirOn ProCam</th>
                  <th>132.32 EUR</th>
                  <th>Customer</th>
                </tr>
                <tr>
                  <td>May 11, 2023, 14:21</td>
                  <td>7/8 USB Type-C</td>
                  <td class='td_red'>Not paid</td>
                  <td>robin@com.de</td>
                </tr>
              </table>

            </div>

            <div class='liner'></div>

            <div class='purchase_tables'>

              <table class='table_purchase'>
                <tr>
                  <th>ID437661</th>
                  <th>PHILIPS Essential</th>
                  <th>543 USD</th>
                  <th>Customer</th>
                </tr>
                <tr>
                  <td>May 11, 2023, 14:21</td>
                  <td>HD9200/90</td>
                  <td class='td_green'>Pay by Stripe</td>
                  <td>dima@com.ua</td>
                </tr>
              </table>

            </div>

          </div>

          <div class='payment'>

            <div class='payment_card'>
              <h1 class='payment_title text'>Payment</h1>
              <div class='liner'></div>

              <div class='payment_check'>

                <div class='pay_check'>
                  <input
                    class='payment_check_input'
                    type='radio'
                    name='exampleRadios'
                    id='exampleRadios1'
                    value='option1'
                    checked
                  />
                  <label
                    class='form_check_label text'
                    for='exampleRadios1'
                  >
                    Credit card
                  </label>
                </div>

                <div class='pay_check'>
                  <input
                    class='payment_check_input'
                    type='radio'
                    name='exampleRadios'
                    id='exampleRadios2'
                    value='option2'
                  />
                  <label
                    class='form_check_label text'
                    for='exampleRadios2'
                  >
                    Debit card
                  </label>
                </div>

                <div class='pay_check'>
                  <input
                    class='payment_check_input'
                    type='radio'
                    name='exampleRadios'
                    id='exampleRadios3'
                    value='option2'
                  />
                  <label
                    class='form_check_label text'
                    for='exampleRadios3'
                  >
                    PayPal
                  </label>
                </div>

              </div>

              <div class='payment_form'>

                <div class='payment_form_card'>

                  <label
                    for='name'
                    class='payment_form_label'
                  >Name on card</label>
                  <input
                    type='text'
                    class='payment_form_input'
                    id='name'
                    name='cardname'
                    placeholder='Name'
                  />

                </div>

                <div class='payment_form_card'>

                  <label
                    for='name'
                    class='payment_form_label'
                  >Credit card number</label>
                  <input
                    type='text'
                    class='payment_form_input'
                    id='name'
                    name='cardname'
                    placeholder='Card number'
                  />
                </div>

              </div>

              <div class='payment_form'>

                <div class='payment_form_card'>

                  <label
                    for='name'
                    class='payment_form_label'
                  >Expiration</label>
                  <input
                    type='text'
                    class='payment_form_input'
                    id='name'
                    name='cardname'
                    placeholder='Expiration Date'
                  />

                </div>

                <div class='payment_form_card'>

                  <label
                    for='name'
                    class='payment_form_label'
                  >CVV</label>
                  <input
                    type='text'
                    class='payment_form_input'
                    id='name'
                    name='cardname'
                    placeholder='CVV'
                  />
                </div>

              </div>

              <div class='liner'></div>

              <div class='payment_form'>

                <div class='payment_loc'>

                  <form action='#'>
                    <label
                      for='country'
                      class='location_label text'
                    >Country</label>
                    <select
                      name='country'
                      class='select_loc'
                    >
                      <option
                        value='select'
                        class='text'
                      >Choose...</option>
                      <option value='1'>A</option>
                      <option value='2'>B</option>
                      <option value='3'>C</option>
                    </select>

                  </form>

                </div>

                <div class='payment_loc'>

                  <form action='#'>
                    <label
                      for='state'
                      class='location_label text'
                    >State</label>
                    <select name='state' class='select_loc'>
                      <option
                        value='select'
                        class='text'
                      >Choose...</option>
                      <option value='4'>D</option>
                      <option value='5'>E</option>
                      <option value='6'>F</option>
                    </select>
                  </form>

                </div>

              </div>

              <div class='liner'></div>

              <div class='checkout_button click'>
                <span class='checkout text'>Continue to
                  checkout</span>
              </div>

            </div>
          </div>

        </div>

      </main>

    </div>

    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
    ></script>
  </body>

</html>