* {
  background: #928f8f;
}


.lesson-four-task-one>.btn:hover {
  color: red;
  background-color: yellow;
}

.lesson-four-task-two .link:hover + .title {
  color: green;
}

.lesson-four-task-three > .link:visited {
  color: yellow;
}

.lesson-four-task-four.>.sidebar:link {
  color: red;
}

.lesson-four-task-five > .btn:active {
  background-color: blue;
}

.lesson-four-task-six > .btn:focus {
  background-color: orange;
  color: orange;
}

#target:target {
  background-color: green;
  color:white;
}

:lang(uk)  {
  color: blue;
}

.form-control:enabled {
  color: red;
  background-color: yellow;
}

.lesson-four-task-eleven:disabled {
  background-color: yellow;
}

.lesson-four-task-twelve>input:read-write {
  color: yellow;
}

.lesson-four-task-thirteen>input:read-only {
  background-color: yellow;
}

.lesson-four-task-fourteen>input:valid {
  color: greenyellow;
}
.lesson-four-task-fourteen>input:invalid {
  color: red;
}

.lesson-four-task-fifteen textarea:optional {
  background-color: red;
}
.lesson-four-task-sixteen>form>.bg-secondary:out-of-range {
  color: red;
}

.lesson-four-task-seventeen>form>.bg-secondary:in-range {
  color: red;
}

.lesson-four-task-eighteen>input:placeholder-shown {
  background-color: red;
}

.lesson-four-task-nineteen>.btn-group>button:focus-within {
  color: white;
  background-color: yellow;
}

.lesson-four-task-twenty>form>label>input:invalid {
  background-color: red;
}