:root {
    --space-xs:8px;
    --space-m:12px;
    --space-xm:16px;
    --space-l:24px;
    --space-b:36px;

    --size-s:14px;
    --size-d:16px;
    --size-l:20px;

    --color-border: #dee2e6;
    --color-primary: #563D7C; 
    --color-primary-button:#0D6EFD;
    --color-white: #fff;
    --color-title:  #3a3838;
    --color-text:  #343A40;

    --border-radius:12px;
    --border-rasius-s:4px;

    --weight_title: 600;
    --weight_text: 400;
    
}

.page {
    background:var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}
.page_content {
    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 80px;
}


.header {
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);

display: flex;
justify-content: space-between;

}
.logo {
    font-size: 17px;
    color: var(--color-white);
    padding: 6px;
    background: var(--color-primary);

    width: var(--space-l);
    height: var(--space-l);
    border-radius: calc(var(--border-radius) /2 );
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
color:var(--color-text);
font-size: var(--size-d);
text-decoration: none;
line-height: 100%;
}
.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}


.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}
.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight_title);
}

.main {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: flex-start;
    
}
.updates {
    
    width: 100%;
    background-color: var(--color-white);
    border-radius:var(--border-radius);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.10);
    padding: var(--space-l);

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}
.upd_title {
    font-size: var(--space-l);
    color: var(--color-title);
    font-weight: var(--weight_text);
    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);

    
}
.updates_link {
    color: var(--color-primary-button);
    font-size: var(--size-d);
    align-self: flex-start;
   text-decoration: none;
    transition-duration: 0.7s;
    transition-property: opacity, border-color;

    border-bottom:1px solid transparent;
}
.updates_link:hover {
    border-color: var(--color-primary-button);
    opacity: 0.7s;
}


.upd {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);

    position: relative;
    padding-right: var(--space-b);
}
.upd_name {
    font-size: var(--size-d);
    color: var(--color-title);
    font-weight: var(--weight_text);
    font-weight: var(--weight_title);
    line-height: var(--size-l);
}
.upd_text {
color: #6C757D;
font-size: var(--size-d);
font-weight: var(--weight_text);
line-height: var(--space-xm);
}

.info {
    display: flex;
    align-items: center;
    gap: var(--space-b);
    padding: var(--space-b);
    
}

.info_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.info_title {
    color: var(--color-title);
    font-size: 56px;
    font-weight: var(--weight_title);
    line-height: 120%;
}
.info_text {
    color: var(--color-text);
    font-size: var(--space-l);
    font-weight:var(--weight_text);
    line-height: 36px;
}


.expirience {
    width: 100%; 
    height: 100%; 
    padding-left: 28px; 
    padding-right: 28px; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    background: #F8F9FA; 
    border-radius: 4px; 
    overflow: hidden;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px; display:inline-flex;

}

.ex_box {
    align-self: stretch; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    display: inline-flex;

}

.exp_box {
    width: 100%; 
    height: 100%;
    padding: 16px; 
    background: #212529; 
    border-radius: 12px; 
    overflow: hidden; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 8px; 
    display: inline-flex;

}


.ex_strong {
    color: var(--color-white);
    font-size: var(--size-l);
    font-weight: var(--weight_title);
    line-height: var(--space-l);
}

.ex_details {
    color: #B1B1B1;
    font-size: var(--size-d);
    font-weight: var(--weight_text);
    line-height: var(--space-l);
}

.exp_title {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start;
     align-items: flex-end; 
     gap: 24px;
      display: inline-flex;


}

.ex_title {
    width: 534.25px; 
    color: #212529; 
    font-size: 42px; 
    font-weight: 700; 
    line-height: 50.40px; 
    word-wrap: break-word;

}


.ex_badge {
    margin: -100 -40 0 0;
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    transform: rotate(30deg); 
    transform-origin: 0 0; 
    background: #FF7347; 
    border-radius: 70px; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
     
    
}
.badge_text {
    color: white; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 28.80px; 
    word-wrap: break-word;
}

.form {
    max-width: 340px;
    width: 100%;
    background-color: var(--color-white);
    border-radius:var(--border-radius);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    padding: var(--space-l);

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.form_title {
    text-align: center;
    font-size: var(--space-l);
    font-weight: var(--weight_text);
    color: var(--color-title);
}

.form_info {
    text-align: center;
    font-size: var(--size-d);
    font-weight: var(--weight_text);
    color: #6C757D;
}
.form_button {
    text-align: center;
    padding: 12px;
    background-color: var(--color-primary-button);
    color: var(--color-white);
    border-radius: calc(var(--border-radius)/3);
    transition: opacity 0.7s;

}
.form_button:hover {
    opacity: 0.7;
}
.form_button:active {
    opacity: 0.3;
}
.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
}
.form_input {
    padding: var(--space-xm);
    border: 1px solid #CED4DA;
    border-radius: var(--border-rasius-s);
}
.form_input::placeholder {
    color: var(--color-title);
    font-size: var(--size-d);
}

.form_checkbox {
    display: flex;
    gap: var(--space-xs);
    align-items:center;
}
.form_checkbox > input {
    border-radius: 4px; 
    border: 1px #767676 solid;
}
.form_checkbox > label {
    color: var(--color-title);
    font-size: var(--size-d);
    cursor: pointer;
}